@font-face {
    font-family: onePiece;
    src: url("./fonts/one\ piece\ font.ttf");
}

.center-div {
    display: block;
    width: 250px;
    margin: 0 auto;
    font-family: 'Bangers', cursive;
    color: rgb(35, 35, 35);
    text-shadow: 1px 1px 20px yellow;
}

.home-button-footer {
    margin-top: 10px;
    color: darkblue;
}

.log-form-box {
    display: block;
    width: 250px;
    margin: 50px auto;;
    padding: 3%;
    border: 5px solid rgb(111, 111, 218);
    border-radius: 40px;
    background-color: rgba(211, 134, 0, 0.837);
    text-align: center;
}

.ship-shape-input {
    display: block;
    border-radius: 100px;
    border-end-end-radius: 444px;
    border-end-start-radius: 44px;
    margin-bottom: 3px;
}

body {
    background-color: rgba(250, 161, 7, 0.837);
    background-image: url("./images/island.jpg");
    background-size: cover;
}

button {
    color: darkblue;
    font-weight: 800;
    background-color: aquamarine;
    border-radius: 10px;
    text-shadow: -1px -2px 2px darkcyan;
}
