body {
    background-color: rgba(250, 161, 7, 0.837);
    background-image: url("./images/island.webp");
    background-size: cover;
}

button {
    color: darkblue;
    font-weight: 800;
    background-color: aquamarine;
    border-radius: 10px;
    text-shadow: -1px -2px 2px darkcyan;
}
